<section class="main-section">
    <h2>Recomended Businesses</h2>
    <article class="business-wrapper">
        {{#each business}}
            <div class="businessborder position">
                <a href="/detail/{{_id}}">
                    <div>
                        <p>{{name}}</p>
                        <img src="{{image_url}}" alt="Picture of Business" height="200" width="auto">
                    </div>
                </a>
                <p>{{location.display_address}}</p>
                <span>
                    <p>{{rating}} ★ | {{price}}</p>
                </span>
                <span class="category-label">Categories: </span>
                {{#each categories}}
                    {{title}};
                {{/each}}
            </div>
        {{/each}}
    </article>
</section>