<section>
    <h1>{{business.name}}</h1>
    <img src="{{business.image_url}}" alt="Picture of Business" height="400" width="300">
    <p>{{business.location.display_address}}</p>
    <p class="detailphone">{{business.phone}}</p>  
    <p>{{business.rating}} Stars</p>
    <p>{{business.price}}</p>
    {{!-- <p>{{business.categories.title}}</p> --}}
    {{#each business.categories}}
        <p>{{title}}</p>
    {{/each}}
    {{!-- <p>{{business.categories}}</p> --}}
    {{!-- <p>{{business.transactions}}</p> --}}
    {{!-- <div class="reviews">
        <h3>Reviews</h3>
        <p>{{business.review_count}}</p>
        {{#each reviews}}
        <article>
            <h4>{{title}}</h4>
            <p>{{username}}</p>
        </article>
        {{/each}}
    </div> --}}
</section>