<section>
    <a href="/"><button type="button">Go Back</button></a>
    <div class="bizdiv">
        <h1 class="bizname">{{business.name}}</h1>
        <img src="{{business.image_url}}" alt="Picture of Business" height="300" width="auto" class="bizimg">
        <p class="bizaddress">{{business.location.display_address}}</p>
        {{#if business.phone}}
            <p class="bizphone">{{business.phone}}</p>
        {{/if}}  
        <div class="catdiv">
            <p class="bizcat">Categories:</p>
            {{#each business.categories}}
                <p class="businessdetail bizcategory">| {{title}} |&nbsp;&nbsp;</p>
            {{/each}}
        </div>
        <p class="businessdetail bizrating"><br/>{{business.rating}} ★ </p>
        <p class="businessdetail bizprice"> | Price: {{business.price}}</p>
    </div>
    <div class="revdiv">
        <h2 class="rev revheader">Reviews</h2>
        <p class="revreview">{{business.review_count}} Review(s)</p>
        {{#each reviews}}
        <article class="revarticle">
            <p class="rev revp revtitle">{{title}}</p>
            <p class="rev revp revusername">-{{username}}</p>
            <p class="rev revp revtime">{{time_created}}</p>
            <p class="rev revrating">{{rating}} ★</p>
            <p class="rev revtext">{{text}}</p>
        </article>
        {{/each}}
    </div>
</section>