<article class="post">
  <h2>LoggedIn user details:</h2>
  <div class="success">
    <p>Username: {{user.username}}</p>
    <p>firstName: {{user.firstName}}</p>
    <p>lastName: {{user.lastName}}</p>
    <p>Profession: {{user.Profession}}</p>
    <p>Bio: {{user.Bio}}</p>
  </div>
</article>