<article class="post">
  <h2>Created user details:</h2>
  <div class="success">
    <p>Username: {{user.username}}</p>
    <p>sessionId: {{user.sessionId}}</p>
    <p>hashedPassword: {{user.hashedPassword}}</p>
    <p>name: {{user.name}}</p>
    <p>_id: {{user._id}}</p>
  </div>
</article>